[submodule "Shared/CameraSwitcher"]
	path = Shared/CameraSwitcher
	url = https://github.com/shinobushiva/Unity-CameraSwitcher
[submodule "Assets/Shared/CameraSwitcher"]
	path = Assets/Shared/CameraSwitcher
	url = https://github.com/shinobushiva/Unity-CameraSwitcher
[submodule "Assets/Shared/Utils"]
	path = Assets/Shared/Utils
	url = https://github.com/shinobushiva/Unity-Utils
[submodule "Assets/Shared/DataSaveLoad"]
	path = Assets/Shared/DataSaveLoad
	url = https://github.com/shinobushiva/Unity-DataSaveLoad
